body {
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
}
.header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border: .5px solid #c1c0c0;
    box-shadow: 1px 1px 2px #d5d4d4;
    background-color: white;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (min-width: 789px) {
    .header{
        padding: 0 4em;
    }
}