body {
    box-sizing: border-box;
    margin: 0;
}
header{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: .5em;
    border: .5px solid #c1c0c0;
    box-shadow: 1px 1px 2px #d5d4d4;
    background-color: white;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}