.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: 80%;
    margin: 0 auto;
    margin-top: 5em;
    
}
.input {
    width: 60%;
    height: 34px;
    padding-left: .5em;
    
}
.input::placeholder{
    font-size: 1rem;
    
}
.btn {
     width: 40%;
     height: 38px;
     font-size: 0.875rem;
     background-color: rgb(19, 18, 18);
     color: white;
     font-weight: 500;
}
.input, .btn {
    border: .5px solid #c1c0c0;
    box-shadow: 1px 1px 2px #d5d4d4;
    border-radius: 5px;
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
}

.emoji-spinner {
    font-size: 3rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
   0% {
    transform: rotate(0deg);
   } 
   100% {
    transform: rotate(360deg);
   }
}



.section-recipe-generator {
    font-size: 1em;
}
.section-recipe-generator p:first-child{
    font-weight: bold;
}


@media (max-width: 768px) {
    .form {
        width: 90%;
        margin-top: 5em;
    }
}